# Building an ETL Pipeline

As the second part of the predict for Gather, you will need to build a pipeline of functions in python which does the following:

1. Function to connect to twitter and scrapes "Eskom_SA" tweets.
<br>
<br>
2. Cleans/Processes the tweets from the scraped tweets which will create a dataframe with two new columns using the following functions: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Hashtag Remover from Analyse Functions
<br>
<br>
3. Functions which connects to your SQL database and uploads the tweets into the table you store the tweets in the database.

In [1]:
# General:
import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For numerical computation
import json
# For plotting and visualization:
from IPython.display import display
import pyodbc

# Consumer and Access details

Fill in your Consumer and Access details you should have recieved when applying for a Twitter API.

In [2]:
# Consumer:
MY_CONSUMER_KEY    = ''
MY_CONSUMER_SECRET = ''

# Access:
MY_ACCESS_TOKEN  = ''
MY_ACCESS_SECRET = ''

# Function 1:

Write a function which:
- Scrapes _"Eskom_SA"_ tweets from Twitter. 

Function Specifications:
- The function should return a dataframe with the scraped tweets with just the "_Tweets_" and "_Date_". 
- Will take in the ```consumer key,  consumer secret code, access token``` and ```access secret code```.

NOTE:
The dataframe should have the same column names as those in your SQL Database table where you store the tweets.

In [3]:
def twitter_df(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_SECRET ):
    """Returns a dataframe with scraped Eskom_SA tweets, date of the tweet and location from Twitter
    
    Parameters:
    -----------
    CONSUMER_KEY    = 'Twitter API Key'
    
    CONSUMER_SECRET = 'Twitter API Secret Key'

    ACCESS_TOKEN  = 'Twitter Access Token'
    
    ACCESS_SECRET = 'Twitter Access Token Secret'
    
    Examples:
    ---------
    
    >>> twitter_df('API_key', 'API_secret_key', 'access_token', 'access_secret_token' )
    
    tweet                                |                  date |
    -------------------------------------|-----------------------|---------------
    Some tweet @someone about #something |   2020-03-11 11:37:49 |
    """

    # Authentication and access using keys:
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)
    
    api = tweepy.API(auth, timeout=1000)
    
    tweets = []
    dates = []
    location = []
    result = pd.DataFrame()
    for tweet in api.search(q="@Eskom_SA -filter:retweets", lang="en", rpp=100, count=40):
        tweets = tweets + [f"{tweet.text}"]
        dates = dates + [f"{tweet.created_at}"]
        location = location + [f"{tweet.user.location}"]
    result['Tweets'] = tweets
    result['Date'] = dates
    result['Location'] = location
    return result

In [4]:
tweets_df = twitter_df(MY_CONSUMER_KEY, MY_CONSUMER_SECRET, MY_ACCESS_TOKEN, MY_ACCESS_SECRET )

In [31]:
conn = pyodbc.connect(driver='{SQL Server}',
                      host='EDSA-PGLBGKO\SQLEXPRESS',
                      database='gather_eskom',
                      uid='sa',
                      pwd='edsa@2020')

In [6]:
def pyodbc_twitter(connection, df, twitter_table):
    """Extracts a dataframe containing tweets, connects and updates the data in your local SQL database

    Parameters:
    -----------
    connection: SQL connection settings

    df: DataFrame of tweets with their timestamp and location 

    twitter_table: An already existing twitter SQL database 

    Examples:
    --------
    >>> conn = pyodbc.connect(driver='{SQL Server}',
                      host='your_server_name',
                      database='your_database_name', 
                      uid='your_user_name',
                      pwd='your_password')
    
    >>> df = 
    
    
    >>> sql_df = pd.read_sql_query('SELECT * FROM twitter_table')
    tweets   date   location
    
    >>> pyodbc_twitter(connection, df, twitter_table)
    tweets           date           location
    """
    cursor = connection.cursor()
    
    for i in range(len(df.index)):
        
        tweet_text = df['Tweets'][i]
        tweet_text = tweet_text.replace("'","")
        tweet_date = df['Date'][i]
        tweet_location = df['Location'][i]
        
        cursor.execute(
            f"""
            INSERT INTO {twitter_table}
            VALUES ('{tweet_text}', '{tweet_date}', '{tweet_location}')
            """
        )
        
        
    conn.commit()
    return None

In [7]:
pyodbc_twitter(conn, tweets_df, 'eskom_tweets_raw')

In [8]:
conn.close()

In [9]:
conn = pyodbc.connect(driver='{SQL Server}',
                      host='EDSA-PGLBGKO\SQLEXPRESS',
                      database='gather_eskom',
                      uid='sa',
                      pwd='edsa@2020')

In [10]:
sql_df = pd.read_sql_query('SELECT * FROM eskom_tweets_raw', conn)

In [11]:
sql_df.head()

,tweets,date,city
0,@Maliqo @koko_matshela @SikonathiM @Eskom_SA Y...,2020-03-10 13:38:18,"Midrand, South Africa"
1,@RiDuR @Eskom_SA @SasolSA BTW THE OTHER SASOL ...,2020-03-10 13:37:53,"Johannesburg, South Africa"
2,@SikonathiM @EmfuleniLM @Eskom_SA How did Esko...,2020-03-10 13:37:37,"Cape Town, South Africa"
3,Kana how long is Stage 4 Loadshedding? @Sikona...,2020-03-10 13:37:30,South Africa
4,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:36:56,"Port Elizabeth, South Africa"

In [12]:
# Creating a dataframe consisting of South Africa's cities and their respective provinces 
location_df = pd.read_excel('locations.xlsx')
location_df.head()

             Name       Province
0  Aalwynsfontein  Northern Cape
1   Aan de Doorns   Western Cape
2        Aberdeen   Eastern Cape
3       Aberfeldy     Free State
4      Abbotsdale   Western Cape

In [13]:
sql_df['Province'] = ''

In [14]:
for i in range(len(location_df)):
    
    for j in range(len(sql_df)):
        
        if sql_df['city'][j] == '':
            sql_df['Province'][j] = 'Not Specified'
        elif str(location_df['Name'][i]).lower() in str(sql_df['city'][j]).lower():
            sql_df['Province'][j] = location_df['Province'][i]
            
        if sql_df['Province'][j] == '':
            sql_df['Province'][j] = 'Not Specified'

In [15]:
sql_df.head()

,tweets,date,city,Province
0,@Maliqo @koko_matshela @SikonathiM @Eskom_SA Y...,2020-03-10 13:38:18,"Midrand, South Africa",Gauteng
1,@RiDuR @Eskom_SA @SasolSA BTW THE OTHER SASOL ...,2020-03-10 13:37:53,"Johannesburg, South Africa",Gauteng
2,@SikonathiM @EmfuleniLM @Eskom_SA How did Esko...,2020-03-10 13:37:37,"Cape Town, South Africa",Western Cape
3,Kana how long is Stage 4 Loadshedding? @Sikona...,2020-03-10 13:37:30,South Africa,Not Specified
4,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:36:56,"Port Elizabeth, South Africa",Eastern Cape

In [16]:
province_df = pd.read_sql_query('SELECT * FROM province_map', conn)

In [17]:
province_list = []
for i in range(len(province_df)):
    province_list.append(str(province_df.iloc[i]['province']).replace("\r\n",""))

In [18]:
province_df['Province'] = province_list
province_df

   province_id           province       Province
0            1   Eastern Cape\r\n   Eastern Cape
1            2         Free State     Free State
2            3            Gauteng        Gauteng
3            4  Kwazulu Natal\r\n  Kwazulu Natal
4            5        Limpopo\r\n        Limpopo
5            6     Mpumalanga\r\n     Mpumalanga
6            7     North West\r\n     North West
7            8  Northern Cape\r\n  Northern Cape
8            9       Western Cape   Western Cape
9           10      Not Specified  Not Specified

In [19]:
sql_df = sql_df.merge(province_df)

In [20]:
sql_df.head()

,tweets,date,city,Province,province_id,province
0,@Maliqo @koko_matshela @SikonathiM @Eskom_SA Y...,2020-03-10 13:38:18,"Midrand, South Africa",Gauteng,3,Gauteng
1,@RiDuR @Eskom_SA @SasolSA BTW THE OTHER SASOL ...,2020-03-10 13:37:53,"Johannesburg, South Africa",Gauteng,3,Gauteng
2,@RamaboduObakeng Yes in meadowlands we have bl...,2020-03-10 13:35:48,Soweto,Gauteng,3,Gauteng
3,@Maliqo @koko_matshela @SikonathiM @Eskom_SA K...,2020-03-10 13:35:32,"Midrand, South Africa",Gauteng,3,Gauteng
4,@SikonathiM @EmfuleniLM @Eskom_SA Removing the...,2020-03-10 13:34:58,"Johannesburg, South Africa",Gauteng,3,Gauteng

In [21]:
sql_df.drop(['city', 'Province', 'province'], axis=1, inplace=True)

In [22]:
sql_df.sort_values(by='date', inplace=True)

In [23]:
sql_df.head()

,tweets,date,province_id
89,@Maliqo @koko_matshela @SikonathiM @Eskom_SA S...,2020-03-10 13:26:06,10
11,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:26:30,3
88,@autrenuit @Eskom_SA @News24 @TimesLIVE @eNCA ...,2020-03-10 13:26:48,10
87,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:27:17,10
86,@Eskom_SA @Devi_HQ @News24 @TimesLIVE @eNCA @I...,2020-03-10 13:27:18,10

# Function 2: Removing hashtags and the municipalities

Write a function which:
- Uses the function you wrote in the Analyse section to extract the hashtags and municipalities into it's own column in a new data frame. 

Function Specifications:
- The function should take in the pandas dataframe you created in Function 1 and return a new pandas dataframe.

In [25]:
def extract_municipality_hashtags(df):
    
    """Returns a modified dataframe with two new columns appended, "municipality" and "hashtags". Information is extracted from
    twitter data that includes the municipality and the list of hashtags referred to in each tweet, respectively.
    Input must contain a column named "Tweets".
    
    Parameters
    ----------
    df: dataframe
    
    Returns
    -------
    df_new: modified dataframe 
    """
    
    mun_dict = {'@CityofCTAlerts' : 'Cape Town',
                '@CityPowerJhb' : 'Johannesburg',
                '@eThekwiniM' : 'eThekwini' ,
                '@EMMInfo' : 'Ekurhuleni',
                '@centlecutility' : 'Mangaung',
                '@NMBmunicipality' : 'Nelson Mandela Bay',
                '@CityTshwane' : 'Tshwane'}
    
    if type(df) == type(pd.DataFrame()):
        municipality = []
        data = df
        for i in data["tweets"]:
            data_str = i.replace(":", "") # Remove ":" from the end of municipality keys and hashtags
            data_str = str.split(data_str) # Splits a sentence/multi-word string by white space into a list
            data_muni = [a for a in data_str if a[0] == "@"] # Add words containing the hashtag to new list
            municipality = municipality + [data_muni]
        for j in range(len(municipality)):
            municipality[j] = [i.replace(i, mun_dict[i]) for i in municipality[j] if i in mun_dict]
        for x in range(len(municipality)):
            if municipality[x] == []:
                municipality[x] = (np.nan)

        df_muni = pd.DataFrame({"municipality": municipality})
        df = df.join(df_muni)
    
        data_subset = df
        hashtags = []
        for j, k in data_subset.iterrows(): # Iterate over pd df
            data_subset_str = data_subset.iloc[j,0]
            data_subset_str = str.split(data_subset_str) # Splits a sentence/multi-word string by white space into a list
            data_subset_hashtags = [a for a in data_subset_str if a[0] == "#"] # Add words containing the hashtag to new list
            data_subset_hashtags = list(map(lambda b: str.lower(b), data_subset_hashtags)) # Convert all hashtags in list to lower case
            if data_subset_hashtags == []:
                data_subset_hashtags = (np.nan) # Use () instead of [], resulting nan must not have square brackets in solution
            hashtags = hashtags + [data_subset_hashtags]

        df = data_subset
        df2 = pd.DataFrame({"hashtags": hashtags})
        df = df.join(df2)
        df_new = df
    
    else:
        print("Error: input must be a data frame.")
    return df_new

In [26]:
processed_tweets_df = extract_municipality_hashtags(sql_df)

In [27]:
processed_tweets_df.head()

,tweets,date,province_id,municipality,hashtags
89,@Maliqo @koko_matshela @SikonathiM @Eskom_SA S...,2020-03-10 13:26:06,10,NaN,NaN
11,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:26:30,3,NaN,NaN
88,@autrenuit @Eskom_SA @News24 @TimesLIVE @eNCA ...,2020-03-10 13:26:48,10,NaN,NaN
87,@Eskom_SA @News24 @TimesLIVE @eNCA @IOL @SABCN...,2020-03-10 13:27:17,10,NaN,NaN
86,@Eskom_SA @Devi_HQ @News24 @TimesLIVE @eNCA @I...,2020-03-10 13:27:18,10,NaN,NaN

# Function 3: Updating SQL Database with pyODBC

Write a function which:
- Connects and updates your SQL database. 

Function Specifications:
- The function should take in a pandas dataframe created in Function 2. 
- Connect to your SQL database.
- Update the table you store your tweets in.
- Not return any output.

In [68]:
conn = pyodbc.connect(driver='{SQL Server}',
                      host='EDSA-PGLBGKO\SQLEXPRESS',
                      database='gather_eskom',
                      uid='sa',
                      pwd='edsa@2020')

In [69]:
def pyodbc_twitter(connection, df, twitter_table):
    """Extracts a dataframe of tweets and connects and updates the data in your local SQL database

    Parameters:
    -----------
    connection: SQL connection settings

    df: DataFrame of tweets with their timestamp

    twitter_table: An already existing twitter SQL database 

    Examples:
    --------
    >>> conn = pyodbc.connect(driver='{SQL Server}',
                      host='your_server_name',
                      database='your_database_name', 
                      trusted_connection='tcon',
                      user='your_user_name',
                      autocommit=True)
    
    >>> df = 
    """
    cursor = connection.cursor()
    
    cursor.execute(
            f"""
            ALTER TABLE {twitter_table}
            ALTER COLUMN date VARCHAR(300)
            """
        )
    
    cursor.execute(
            f"""
            ALTER TABLE {twitter_table}
            ALTER COLUMN province_id VARCHAR(10)
            """
        )
    
    for i in range(len(df.index)):
        
        tweet_text = df['tweets'][i]
        tweet_date = df['date'][i]
        tweet_province = df['province_id'][i]
        tweet_municipality = df['municipality'][i]
        tweet_hashtags = df['hashtags'][i] 
        
        # Removing all ' from within tweet text and hashtags
        tweet_text = str(tweet_text).replace("'","")
        tweet_municipality = str(tweet_municipality).replace("'","")
        tweet_hashtags = str(tweet_hashtags).replace("'","")
        
        cursor.execute(
            f"""
            INSERT INTO {twitter_table}
            VALUES ('{tweet_text}','{tweet_date}','{tweet_province}','{tweet_municipality}','{tweet_hashtags}')
            """
        )
        
        cursor.execute(
            f"""
            ALTER TABLE {twitter_table}
            ALTER COLUMN date DATETIME
            """
        )
    
        cursor.execute(
            f"""
            ALTER TABLE {twitter_table}
            ALTER COLUMN province_id INT
            """
        )
        
        
    conn.commit()
    return None

In [70]:
pyodbc_twitter(conn, processed_tweets_df, 'eskom_tweets_processed')

In [71]:
conn.close()