# Building an ETL Pipeline

As the second part of the predict for Gather, you will need to build a pipeline of functions in python which does the following:

1. Function to connect to twitter and scrapes "Eskom_SA" tweets.
<br>
<br>
2. Cleans/Processes the tweets from the scraped tweets which will create a dataframe with two new columns using the following functions: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a) Hashtag Remover from Analyse Functions
<br>
<br>
3. Functions which connects to your SQL database and uploads the tweets into the table you store the tweets in the database.

In [5]:
# General:
import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For numerical computation
import json
# For plotting and visualization:
from IPython.display import display
import pyodbc

# Consumer and Access details

Fill in your Consumer and Access details you should have recieved when applying for a Twitter API.

In [6]:
# Consumer:
CONSUMER_KEY    = ''
CONSUMER_SECRET = ''

# Access:
ACCESS_TOKEN  = ''
ACCESS_SECRET = ''

In [7]:
# API's setup:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with access and consumer keys from Twitter.
    """

    # Authentication and access using keys:
    auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
    auth.set_access_token(ACCESS_TOKEN, ACCESS_SECRET)

    # Return API with authentication:
    api = tweepy.API(auth, timeout=1000)
    return api

In [8]:
api = twitter_setup()
user = api.get_user("Eskom_SA")

print("User details:")
print(user.name)
print(user.description)
print(user.location)

print("Last 20 Followers:")
for follower in user.followers():
    print(follower.name)

User details:
Eskom Hld SOC Ltd

Gauteng, South African
Last 20 Followers:
elsa
Vusi Phakathi
nkosie
J
Xoli Manqaba
mr black
Thandi Mpondo
Carol Sweetness Mohoalali
Bandileh
Nthabireezy
Katlego
...abc
MYLIFE&LOVEALBUM
Sphesihle Macala
Siphiwe
@joesinghgroup
Kgothatso Motlabane
Khaya Forbes
@likwa
Life Ntuli

In [9]:
api = twitter_setup()
tweets = []
dates = []
result = pd.DataFrame()
for tweet in api.search(q="@Eskom_SA -filter:retweets", lang="en", rpp=100, count=40):
    tweets = tweets + [f"{tweet.text}"]
    dates = dates + [f"{tweet.created_at}"]
result['Tweets'] = tweets
result['Date'] = dates
result

                                               Tweets                 Date
0   @SikonathiM @CoruscaKhaya @Eskom_SA Axxaro nay...  2020-03-05 10:45:11
1   @MyJRA @Eskom_SA Iâ€™ve spent 40 mins on the pho...  2020-03-05 10:40:59
2   @DerrickKabi @Ronald_Jnr @KeemetsweB @Eskom_SA...  2020-03-05 10:39:16
3   @koko_matshela @PhotoColman @AfrikPinocchio @C...  2020-03-05 10:39:00
4   @SikonathiM @Eskom_SA So you just REGURGITATIN...  2020-03-05 10:36:51
5                   @SikonathiM @Eskom_SA ABOUT TIME!  2020-03-05 10:33:45
6   @SmilinGeorge_SA @Ronald_Jnr @KeemetsweB @Esko...  2020-03-05 10:32:57
7         @ScumbagZeusGod Ask @Eskom_SA and @TelkomZA  2020-03-05 10:32:34
8   @SikonathiM @Eskom_SA Even a single cent must ...  2020-03-05 10:31:25
9   @SikonathiM @Eskom_SA So this R600m is a reaso...  2020-03-05 10:29:17
10  @SikonathiM @Eskom_SA Talking about a man with...  2020-03-05 10:21:49
11  @SikonathiM @Eskom_SA Lets work Andre .we want...  2020-03-05 10:16:31
12  @MabiletjaTwist @SikonathiM @Eskom_SA he hates...  2020-03-05 10:08:12
13  @heelontheshovel @SikonathiM @Eskom_SA ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ Wh...  2020-03-05 10:08:09
14  @mxoboss @SikonathiM @Eskom_SA Who owns all th...  2020-03-05 10:07:49
15  @SikonathiM @kabelodick @Eskom_SA Let's hope y...  2020-03-05 10:07:29
16  Eskom to institute liquidation proceedings aga...  2020-03-05 10:07:05
17  @SikonathiM @Eskom_SA Did the ceo came with 4 ...  2020-03-05 10:06:47
18  @SikonathiM @JvanLogg @Eskom_SA And hope theyâ€™...  2020-03-05 10:06:24
19  @mpdjhb @Eskom_SA My mind never used to be so ...  2020-03-05 10:03:41
20  That is hectic ðŸ˜³\n@Eskom_SA was #Jealous &amp;...  2020-03-05 10:03:10
21  @ventmaur @Eskom_SA That could be your lack of...  2020-03-05 10:01:37
22  The #NDMAF continues, @DWS_RSA has just presen...  2020-03-05 10:00:32
23  @Eskom_SA This system is not working. They don...  2020-03-05 09:57:38
24  @Eskom_SA @ewnupdates @SABCNewsOnline @News24 ...  2020-03-05 09:57:09
25  @SikonathiM @Eskom_SA And proceedings against ...  2020-03-05 09:57:08
26  @Eskom_SA But they don't take us seriously. I ...  2020-03-05 09:56:51
27  @SikonathiM @Eskom_SA The NPA has to also be i...  2020-03-05 09:52:40
28  @sir_mehlo @Lindros12 @Eskom_SA Angithi bathi ...  2020-03-05 09:51:52
29  @Eskom_SA Bullshit! I'm at Waterfront right no...  2020-03-05 09:48:26
30  @SikonathiM @Eskom_SA Well Done!\nDoes Eskom n...  2020-03-05 09:47:50
31  @NickolausBauer can some tell @MikeBloomberg t...  2020-03-05 09:46:55
32        @SikonathiM @Eskom_SA After how long really  2020-03-05 09:46:07
33  @SikonathiM @Eskom_SA How much is exxaro getti...  2020-03-05 09:45:28
34                  @SikonathiM @Eskom_SA A way to go  2020-03-05 09:45:08
35  @SikonathiM @Eskom_SA Great work now tackle th...  2020-03-05 09:44:42
36  @SikonathiM @Eskom_SA Cancel evergreen Aparthe...  2020-03-05 09:42:46
37  @SikonathiM @Eskom_SA I'm liking Andre more an...  2020-03-05 09:41:42
38  @MabiletjaTwist @SikonathiM @Eskom_SA I mean w...  2020-03-05 09:39:18
39  @SikonathiM @Eskom_SA Good but that's just a d...  2020-03-05 09:36:29

In [10]:
result['Tweets'][0]

"@SikonathiM @CoruscaKhaya @Eskom_SA Axxaro nayo it's gonna pay back Eskom's money angithi? That fucken CEO mustn'tâ€¦ https://t.co/wXyIeW96HJ"

# Function 1:

Write a function which:
- Scrapes _"Eskom_SA"_ tweets from Twitter. 

Function Specifications:
- The function should return a dataframe with the scraped tweets with just the "_Tweets_" and "_Date_". 
- Will take in the ```consumer key,  consumer secret code, access token``` and ```access secret code```.

NOTE:
The dataframe should have the same column names as those in your SQL Database table where you store the tweets.

In [ ]:
def twitter_df(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_SECRET ):

    # Code Here
    
    return None

# Function 2: Removing hashtags and the municipalities

Write a function which:
- Uses the function you wrote in the Analyse section to extract the hashtags and municipalities into it's own column in a new data frame. 

Function Specifications:
- The function should take in the pandas dataframe you created in Function 1 and return a new pandas dataframe.

In [ ]:
twitter_df(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_SECRET )

In [11]:
def extract_municipality_hashtags(df):
    
    """Returns a modified dataframe with two new columns appended, "municipality" and "hashtags". Information is extracted from
    twitter data that includes the municipality and the list of hashtags referred to in each tweet, respectively.
    Input must contain a column named "Tweets".
    
    Parameters
    ----------
    df: dataframe
    
    Returns
    -------
    df_new: modified dataframe 
    """
    
    mun_dict = {'@CityofCTAlerts' : 'Cape Town',
                '@CityPowerJhb' : 'Johannesburg',
                '@eThekwiniM' : 'eThekwini' ,
                '@EMMInfo' : 'Ekurhuleni',
                '@centlecutility' : 'Mangaung',
                '@NMBmunicipality' : 'Nelson Mandela Bay',
                '@CityTshwane' : 'Tshwane'}
    
    if type(df) == type(pd.DataFrame()):
        municipality = []
        data = df
        for i in data["Tweets"]:
            data_str = i.replace(":", "") # Remove ":" from the end of municipality keys and hashtags
            data_str = str.split(data_str) # Splits a sentence/multi-word string by white space into a list
            data_muni = [a for a in data_str if a[0] == "@"] # Add words containing the hashtag to new list
            municipality = municipality + [data_muni]
        for j in range(len(municipality)):
            municipality[j] = [i.replace(i, mun_dict[i]) for i in municipality[j] if i in mun_dict]
        for x in range(len(municipality)):
            if municipality[x] == []:
                municipality[x] = (np.nan)

        df_muni = pd.DataFrame({"municipality": municipality})
        df = df.join(df_muni)
    
        data_subset = df
        hashtags = []
        for j, k in data_subset.iterrows(): # Iterate over pd df
            data_subset_str = data_subset.iloc[j,0]
            data_subset_str = str.split(data_subset_str) # Splits a sentence/multi-word string by white space into a list
            data_subset_hashtags = [a for a in data_subset_str if a[0] == "#"] # Add words containing the hashtag to new list
            data_subset_hashtags = list(map(lambda b: str.lower(b), data_subset_hashtags)) # Convert all hashtags in list to lower case
            if data_subset_hashtags == []:
                data_subset_hashtags = (np.nan) # Use () instead of [], resulting nan must not have square brackets in solution
            hashtags = hashtags + [data_subset_hashtags]

        df = data_subset
        df2 = pd.DataFrame({"hashtags": hashtags})
        df = df.join(df2)
        df_new = df
    
    else:
        print("Error: input must be a data frame.")
    return df_new

In [12]:
twitter_df = extract_municipality_hashtags(result)

In [13]:
twitter_df.head()

,Tweets,Date,municipality,hashtags
0,@SikonathiM @CoruscaKhaya @Eskom_SA Axxaro nay...,2020-03-05 10:45:11,NaN,NaN
1,@MyJRA @Eskom_SA Iâ€™ve spent 40 mins on the pho...,2020-03-05 10:40:59,NaN,NaN
2,@DerrickKabi @Ronald_Jnr @KeemetsweB @Eskom_SA...,2020-03-05 10:39:16,NaN,NaN
3,@koko_matshela @PhotoColman @AfrikPinocchio @C...,2020-03-05 10:39:00,NaN,NaN
4,@SikonathiM @Eskom_SA So you just REGURGITATIN...,2020-03-05 10:36:51,NaN,"[#poweroutages, #loadsheddingupdate]"

In [14]:
twitter_df = twitter_df[['Tweets', 'Date']]

In [15]:
twitter_df.head()

                                              Tweets                 Date
0  @SikonathiM @CoruscaKhaya @Eskom_SA Axxaro nay...  2020-03-05 10:45:11
1  @MyJRA @Eskom_SA Iâ€™ve spent 40 mins on the pho...  2020-03-05 10:40:59
2  @DerrickKabi @Ronald_Jnr @KeemetsweB @Eskom_SA...  2020-03-05 10:39:16
3  @koko_matshela @PhotoColman @AfrikPinocchio @C...  2020-03-05 10:39:00
4  @SikonathiM @Eskom_SA So you just REGURGITATIN...  2020-03-05 10:36:51

# Function 3: Updating SQL Database with pyODBC

Write a function which:
- Connects and updates your SQL database. 

Function Specifications:
- The function should take in a pandas dataframe created in Function 2. 
- Connect to your SQL database.
- Update the table you store your tweets in.
- Not return any output.

In [16]:
conn = pyodbc.connect(driver='{SQL Server}',
                      host='DESKTOP-ESAEHFI\SQLEXPRESS',
                      database='gather_eskom',
                      UID='sa',
                      PWD='edsa@2020')

In [23]:
cursor = conn.cursor()

ProgrammingError: Attempt to use a closed connection.

In [42]:
def pyodbc_twitter(connection, df, twitter_table):
    """Extracts a dataframe of tweets and connects and updates the data in your local SQL database

    Parameters:
    -----------
    connection: SQL connection settings

    df: DataFrame of tweets with their timestamp

    twitter_table: An already existing twitter SQL database 

    Examples:
    --------
    >>> conn = pyodbc.connect(driver='{SQL Server}',
                      host='your_server_name',
                      database='your_database_name', 
                      trusted_connection='tcon',
                      UID='your_user_name',
                      autocommit=True)
    
    >>> df = 
    """
    cursor = connection.cursor()
    
    for i in range(len(df.index)):
        tweet_text = df['Tweets'][i]
        tweet_date = df['Date'][i]
        tweet_municipality = df['municipality'][i]
        tweet_hashtag = df['hashtags'][i]
        
        try:
            cursor.execute(
                f"""
                INSERT INTO {twitter_table}
                VALUES ('{tweet_text}', {tweet_date}, '{tweet_municipality}', '{tweet_hashtag}')
                """
            )
        
        except ProgrammingError:
            pass

    return None

In [43]:
pyodbc_twitter(conn, twitter_df, tweets)

NameError: name 'ProgrammingError' is not defined